<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{% block title %}{% endblock title %}</title>
    <script defer src="/static/aify/aify.js"></script>
    <link href="/static/aify/aify.css" rel="stylesheet">
</head>

<body>
    {% block body %}{% endblock body %}
</body>

</html>