<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>aify.run</title>
    <script defer src="/static/aify/js/main.aify-4238ddcef1fa790025e9.js"></script>
    <link href="/static/aify/css/main.8f9151b6.css" rel="stylesheet">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
</body>
<script defer>
    window.onload = function () {
        aify.create('root');
    }
</script>
</html>